{% assign current_url = page.url | replace: 'index.html', '' | prepend: site.baseurl | prepend: site.url %}
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/ja_JP/sdk.js#xfbml=1&appId=411954928980346&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="well">
  <ul class="list-inline">
    <li><a class="twitter-share-button" href="https://twitter.com/share" data-url="{{current_url}}" data-text="{{current_title}}">Tweet</a><script>window.twttr=(function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],t=window.twttr||{};if(d.getElementById(id))return;js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);t._e=[];t.ready=function(f){t._e.push(f);};return t;}(document,"script","twitter-wjs"));</script></li>
    <li><div class="fb-like" data-href="{{current_url}}" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div></li>
    <li><a href="http://b.hatena.ne.jp/entry/{{current_url}}" class="hatena-bookmark-button" data-hatena-bookmark-title="{{current_title}}" data-hatena-bookmark-layout="simple-balloon" title="このエントリーをはてなブックマークに追加"><img src="https://b.st-hatena.com/images/entry-button/button-only@2x.png" alt="このエントリーをはてなブックマークに追加" width="20" height="20" style="border: none;" /></a><script type="text/javascript" src="https://b.st-hatena.com/js/bookmark_button.js" charset="utf-8" async="async"></script></li>
  </ul>
</div>
